- pictos_free_url = "https://github.com/adamstac/pictos-free"
-# pictos_free_url = "#"
- @page_class = "black"
%ul
  -30.times do
    %li
      %a(href="#{pictos_free_url}" class="pictos-free-black-icn1") Icon 1
    %li
      %a(href="#{pictos_free_url}" class="pictos-free-black-icn2") Icon 2
    %li
      %a(href="#{pictos_free_url}" class="pictos-free-black-icn3") Icon 3
    %li
      %a(href="#{pictos_free_url}" class="pictos-free-black-icn4") Icon 4
    %li
      %a(href="#{pictos_free_url}" class="pictos-free-black-icn5") Icon 5
    %li
      %a(href="#{pictos_free_url}" class="pictos-free-black-icn6") Icon 6
    %li
      %a(href="#{pictos_free_url}" class="pictos-free-black-icn7") Icon 7
    %li
      %a(href="#{pictos_free_url}" class="pictos-free-black-icn8") Icon 8
    %li
      %a(href="#{pictos_free_url}" class="pictos-free-black-icn9") Icon 9
    %li
      %a(href="#{pictos_free_url}" class="pictos-free-black-icn10") Icon 10
    %li
      %a(href="#{pictos_free_url}" class="pictos-free-black-icn11") Icon 11
    %li
      %a(href="#{pictos_free_url}" class="pictos-free-black-icn12") Icon 12
    %li
      %a(href="#{pictos_free_url}" class="pictos-free-black-icn13") Icon 13
    %li
      %a(href="#{pictos_free_url}" class="pictos-free-black-icn14") Icon 14
    %li
      %a(href="#{pictos_free_url}" class="pictos-free-black-icn15") Icon 15
    %li
      %a(href="#{pictos_free_url}" class="pictos-free-black-icn16") Icon 16
    %li
      %a(href="#{pictos_free_url}" class="pictos-free-black-icn17") Icon 17
    %li
      %a(href="#{pictos_free_url}" class="pictos-free-black-icn18") Icon 18
    %li
      %a(href="#{pictos_free_url}" class="pictos-free-black-icn19") Icon 19
    %li
      %a(href="#{pictos_free_url}" class="pictos-free-black-icn20") Icon 20
    %li
      %a(href="#{pictos_free_url}" class="pictos-free-black-icn21") Icon 21