- pictos_free_url = "http://www.woothemes.com/2010/05/pictos/"
-# pictos_free_url = "#"
- @page_class = "white"
%ul
  -30.times do
    %li
      %a(href="#{pictos_free_url}" class="pictos-free-white-icn1") Icon 1
    %li
      %a(href="#{pictos_free_url}" class="pictos-free-white-icn2") Icon 2
    %li
      %a(href="#{pictos_free_url}" class="pictos-free-white-icn3") Icon 3
    %li
      %a(href="#{pictos_free_url}" class="pictos-free-white-icn4") Icon 4
    %li
      %a(href="#{pictos_free_url}" class="pictos-free-white-icn5") Icon 5
    %li
      %a(href="#{pictos_free_url}" class="pictos-free-white-icn6") Icon 6
    %li
      %a(href="#{pictos_free_url}" class="pictos-free-white-icn7") Icon 7
    %li
      %a(href="#{pictos_free_url}" class="pictos-free-white-icn8") Icon 8
    %li
      %a(href="#{pictos_free_url}" class="pictos-free-white-icn9") Icon 9
    %li
      %a(href="#{pictos_free_url}" class="pictos-free-white-icn10") Icon 10
    %li
      %a(href="#{pictos_free_url}" class="pictos-free-white-icn11") Icon 11
    %li
      %a(href="#{pictos_free_url}" class="pictos-free-white-icn12") Icon 12
    %li
      %a(href="#{pictos_free_url}" class="pictos-free-white-icn13") Icon 13
    %li
      %a(href="#{pictos_free_url}" class="pictos-free-white-icn14") Icon 14
    %li
      %a(href="#{pictos_free_url}" class="pictos-free-white-icn15") Icon 15
    %li
      %a(href="#{pictos_free_url}" class="pictos-free-white-icn16") Icon 16
    %li
      %a(href="#{pictos_free_url}" class="pictos-free-white-icn17") Icon 17
    %li
      %a(href="#{pictos_free_url}" class="pictos-free-white-icn18") Icon 18
    %li
      %a(href="#{pictos_free_url}" class="pictos-free-white-icn19") Icon 19
    %li
      %a(href="#{pictos_free_url}" class="pictos-free-white-icn20") Icon 20
    %li
      %a(href="#{pictos_free_url}" class="pictos-free-white-icn21") Icon 21